<p><%= @user.name %>　さん</p>
<p>関東地方に震度6弱以上の地震が発生しました.</p>
<p>社員の方は速やかに下記URLへアクセスし, 安否登録を行って下さい.</p>
<%= link_to @conf_edit_url, @conf_edit_url %>
<hr>

<p>また社員の安否登録状況一覧を確認するためのユーザIDとパスワード, URLは</p>
<ul>
<li>ID : users</li>
<li>Pass: xxxx</li>
<li><%= link_to @user_conf_url, @user_conf_url %></li>
</ul>