<%- model_class = Confirmation -%>
<div class="page-header">
  <h1>安否情報一覧</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>安否情報登録有無</th>
      <th>初期登録日時</th>
      <th>最新登録日時</th>
    </tr>
  </thead>
  <tbody>
    <% @confirmations.each do |confirmation| %>
      <tr>
        <td><%= confirmation.contacted %></td>
        <td><%= confirmation.created_at %></td>
        <td><%= confirmation.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to t('.back', :default => t("helpers.links.back")),
            disasters_path,
            :class => 'btn btn-default' %>